language: android
sudo: required
jdk: oraclejdk8

env:
  global:
  - ANDROID_API=26
  - EMULATOR_API=22
  - ANDROID_BUILD_TOOLS=26.1.0
  - ADB_INSTALL_TIMEOUT=5 # minutes

android:
  components:
  - tools
  - platform-tools
  - tools


  # The BuildTools version used by your project

  - build-tools-$ANDROID_BUILD_TOOLS
  # The SDK version used to compile your project
  - android-$ANDROID_API
  - android-$EMULATOR_API_LEVEL
  - extra-google-m2repository
  - extra-android-m2repository # for design library
  - addon-google_apis-google-26 # google play services
  - sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API_LEVEL
  - sys-img-armeabi-v7a-addon-google_apis-google-$EMULATOR_API_LEVEL

licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+

before_install:
  - chmod +x gradlew


before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache